.list {
  display: flex;
  flex-wrap: nowrap;
  background-color:#eee;
  
  /* background-color:yellowgreen; */
  justify-content: space-between;
  width:500px;
  flex-direction:row;
  
  
}

.Header{
  
  display: flex;
  justify-content: center;
  align-items: center;


  /* CSS just to show the bounds */
  
  background-color:green;
  padding:30px;
  box-shadow: 2px 2.98256px 7.4564px rgba(0, 0, 0, 0.5);
  
}

.list-p {
  width: 275px;
  font-size: 14px;
  flex-direction: column;
  /* flex: 0 0 auto;          */
  display: flex;          
  /* flex-direction: column;  */
  padding:15px;
  background-color:#eee;
  text-align:center;
  border-radius: 16px;
  margin:10px;
  box-shadow: 2px 2.98256px 7.4564px rgba(0, 0, 0, 0.5);
  
}

.list .list-p:hover {
  transform: scale(1.15);
  border-color: #0088d1;
}

.App{
  display:flex;
  flex-wrap:wrap;
}

nav {
  height: 20px;
  display: flex;
 justify-content: flex-end;
 margin:10px;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
 
}

.nav-links{
  color:green;
  margin:5px;
  font-size: large;
}


.desc-readmore{
  
  color:green;
  font-size: medium;
  border-radius:16px;
  background-color:#eee;
  box-shadow: 0px 2.98256px 7.4564px rgba(17, 77, 2, 0.1);
  padding: 15px;
 margin-right:35%;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:25%; 
 justify-content:center;
 text-align:center;
  /* background-color: greenyellow; */
}

.btn-readmore{
  color:green;
  font-size: medium;
  border-radius:16px;
  box-shadow: 0px 2.98256px 7.4564px rgba(17, 77, 2, 0.1);
  padding: 15px;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:45%;
 justify-content:center;
}



















